.col-centered{
  float: none;
  margin: 0 auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
ul {
  padding: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
  font-weight: bold;
}
.logoImg {
  height: 152px;
  width: 250px;
  padding-bottom: 15px;
}
.carouselCaption {
  background-color: grey;
  border-radius: 25px;
  opacity: .8;
}
.addressList,.servicesList {
  padding-top:25px;
  padding-bottom:25px;
}
a:link,a:visited { 
  text-decoration: none; 
  color: black;
}
.emphText {
  padding-right: 10px;
  font-weight: bold;
}
.exerpt {
  font-style: italic;
}
.contentDiv {
  padding-top:25px;
}
.smallTitle {
  padding-left: 15px;
}
.lisenceModal {
  text-decoration: underline;
  color:#dc3545;
  padding-bottom:50px;
}
.redText {
  color:#dc3545;
}
.modalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalDiv img {
  height: 200px;
  width: 325px;
}
.blurb {
  padding-bottom:25px;
}
.buttonPadding {
  padding-top:25px;
}
#logoImgModal {
  height: 75px;
  width: 125px;
}
.mapComponent {
  width: 300px;
  height: 300px;
}
.largeNav {
  display:none;
}
@media only screen and (min-width: 768px) {
.logoImg {
    width: 500px;
    height: 304px;
  }
  .carousel {
    height: auto;
    width: 50%;
  }
  .mapComponent {
    width: 600px;
    height: 600px;
  }
  .mobileNav {
    display:none;
  }
  .largeNav {
    display:inline;
  }
}